<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password | InterviewAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>

<body>

    <div class="auth-wrapper">
        <div class="auth-left">
            <h1>Interview<span>AI</span></h1>
            <p>Password marchipoyava?<br>OTP email ki pampistam.</p>
        </div>

        <div class="auth-card">
            <h2>Forgot Password</h2>
            <p class="sub">Enter your registered email</p>

            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}

            <form method="POST">
                <input type="email" name="email" placeholder="Enter your email" required>
                <button class="btn">📩 Send OTP</button>
            </form>

            <p class="switch">
                <a href="/login">← Back to Login</a>
            </p>
        </div>
    </div>

</body>

</html>